body {
  margin: 0px;
  width: 100%;
  padding: 30px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
}

